@font-face {
    font-family: 'gilroy';
    src: url(./Gilroy-Regular.ttf);

}

@font-face {
    font-family: 'costal';
    src: url(./CostalineThin-OGLRd.otf);

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: gilroy;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}
#main{
    position: relative;
    background-color: #111;
}


#crsr{
    height: 2vw;
    width: 2vw;
    border: 2px solid white;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 20vh 10vw;
}

.line {
    /* background-color: blue; */
    /* line-height: 17vh; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}

#line1_part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1_part1 h5 , #line1_part1 h6 {
    font-size: 3.4vw;
    font-family: 'Silk Serif';
    font-weight: 200;
}

#line1_part1 h5{
    /* background-color: red; */
    text-align: right;
    width: 5vw;

}
.line h1{
    font-size: 15vh;
    text-transform: uppercase;
    font-weight: 600;
    
}

.line h2{
    font-size: 5.5vw;
    /* font-family: 'Silk Serif'; */
    font-weight: 300;
    animation-name: loading_anime;
    animation-duration: 0.8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading_anime {
        0%{
            font-family:'gilroy';
            -webkit-text-stroke: 1px #fff; 
            font-weight: 500; 
            color: #fff; 
            opacity: 1;
        }

        50%{
            font-family:'gilroy';
            -webkit-text-stroke: 1px #fff; 
            font-weight: 500; 
            color: #fff; 
            opacity: 0;
        }

        60%{
           font-family: "silk serif"; 
           -webkit-text-stroke-color: 1px #fff; 
           font-weight: 500;
           color:transparent;
           opacity: 1;
        }

        100%{
           font-family: "silk serif"; 
           -webkit-text-stroke-color: 1px #fff; 
           font-weight: 500;
           color:transparent;
           opacity: 0;
        }
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: black  ;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.7vw 8.6vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 3vw;
}



#nav-part2 h4{
    font-size:1.2vw;
    font-weight: 500;
}

.hero {
    /* background-color: red; */
    width: 72%;
    margin-left: 28%; 
    height: fit-content;  
    overflow-y: hidden; 
    display: flex;
    align-items: center;
    /* overflow-x: auto; */
}

.hero:nth-child(2){
    margin-top: 6vh;
}

.hero h1{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 15vh;
    position: relative;
    
}

#Hero1::before{
    content: '01';
    font-family: "silk serif";
    font-size: 3vw;
    position: absolute;
    transform: translateX();
    font-weight: 500;
    left: 19%;
    top: 26.5%;
}

.hero h2{
    font-size: 7.5vw;
    text-transform: uppercase;
    line-height: 15vh;
    border-bottom:0.7vw solid white;
    padding-bottom: 0.5vw;
    transition: all-ease 0.2s;
}

.hero h2:hover{
    -webkit-text-stroke:0.9px #fff;
    color: transparent;
    font-weight: 300;
    border-bottom: solid transparent;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 5vh;
    position: relative;
    /* background-color: red; */
    
}
#video-container{
    height: 65vh;
    width: 70vw;
    position: relative;
    left: 29%;
    background-image:url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top:0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

#video-cursor{
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top: -10;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 5vh;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #303030;
    position: relative;
}


#page4{
    min-height: 100vh;
    width: 100%;
    /* background-color: #303030; */
    position: relative;
    padding-top: 5vh;
    /* background-color: rebeccapurple; */
}

#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
    position: relative;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}
#page4-content h1::before{
    content: '03';
    font-family: "silk serif";
    font-size: 3vw;
    position: absolute;
    transform: translateX();
    font-weight: 500;
    left: -13%;
    top: 0.5%;
}
#page4-content .underline{
    height: 1.5px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#page4-content>p{
    font-size: 2.6vw;
    width: 55%;
    margin-bottom: 1vw;
}

#page4-flex{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#page4-flex img{
    /* height: 100%; */
    width: 50%;
}

#page4-flex p{
    width: 30%;
    margin-left: 1vw;
}

#page4-blue{
    background-color: #3F7DFA;
    width: 35vw;
    /* padding: 2vw; */
    position: relative;
    margin-top: -38vh;
    margin-left: 26vw;
}

.blue-elem{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    /* padding: 1vw 1vw; */
    border-bottom: 1px solid white;
    padding: 2vw;
}

.blue-elem h4{
    font-size: 1.2vw;
    font-weight: 700;
}

.blue-elem p{
    width: 40%;
    /* font-size: ; */
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem{
    /* background-color: red; */
    white-space: nowrap ;
    overflow: hidden;
    
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    /* background-color: red; */
    animation-name: anime;
    animation-duration: 10s ;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;

}

@keyframes anime {
    from{
            transform: translateX(0);
    }
    to{
            transform: translateX(calc(-100% - 20px));
    }
    
}


.elem2{
    /* background-color: red; */
    white-space: nowrap ;
    overflow: hidden;
    
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    /* background-color: red; */
    transform: translateX(calc(-100% - 20px));
    animation-name: anime;
    animation-duration: 10s ;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

.elem span{
    font-style: italic;
    font-family: silk serif;
    color: transparent;
}

.elem2 span{
    font-style: italic;
    font-family: silk serif;
    color: transparent;
}

#footer{
    height: 90vh;
    width: 100%;
    /* background-color: red; */
    padding-left: 28vw;
}

#footer h1{
    /* background-color:blue; */
    font-size: 8vw;
    width: 60vw;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before{
    content: '04';
    font-family: "silk serif";
    font-size: 3vw;
    position: absolute;
    transform: translateX();
    font-weight: 500;
    left: -15%;
    top: 6%;
}



.under-line{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 6vw;
}

#footer-div h6{
    font-size: 2vw;
    margin-bottom: 2vw;
}

.box{
    
}

#footer-div h5{
    font-size:1vw;
    font-weight: 400;
    margin: 0.2vh 0;

}

#footer>h5{
    font-weight: 500;
    font-size: 0.9vw;
}




